:root {
  --blue: #30B8D2;
  --dark-blue: #30496B
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-image: linear-gradient(var(--dark-blue), var(--blue));
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

input {
  padding: 0.5rem;
  border: 0;
  border-bottom: 1px solid grey;
  font-size: 1.2rem;
}

button {
  cursor: pointer;
  padding: 1rem;
  border: 0;
  border-radius: 2px;
  background-color: var(--dark-blue);
  color: white;
  font-size: 1.2rem;
}

.validation-error {
  margin: 0.5rem;
  color: red;
}
